body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header {
  color: white;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.logout-icon img {
  width: 30px;
  margin: 20px;
}

section {
  text-align: center;
}

.personal {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.login-box {
  border-radius: 12px;

  padding: 30px;
  /* text-align: center; */
  width: 845.91px;
  height: 580.54px;
  border: 1px solid #e0e0e0;
  /* align-items: center; */
}
/* 
.profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.profile > div {
  flex-direction: column;
}
.profile > div > h1 {
  margin: 0px 215px 0px 0px;
  font-size: 24px;
}

.profile > div > p {
  margin: 0px 53px 0px 0px;
  font-size: 13px;
  color: #828282;
}

.profile > a {
  border: 1px gray solid;
  padding: 10px 30px;
  border-radius: 15px;
  margin: 12px;
  text-decoration: none;
  color: #828282;
}

.profile_info {
  border-bottom: 1px solid #e0e0e0;
  color: #e0e0e0;
  display: flex;
  padding: 7px;
  justify-content: space-between;
}

.profile_info > div {
  flex-direction: column;
} */

.pl {
  color: gray;
  font-size: 14px;
}

.out_main {
  display: flex;
  justify-content: space-between;
}

.profile_pic {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  padding-bottom: 2rem;
  color: #e0e0e0;
}

.last {
  color: #e0e0e0;
  display: flex;
  padding: 7px;
  justify-content: space-between;
  text-align: center;
  justify-items: center;
}

.miTabla {
  text-align: left;
  width: 845.91px;
  height: 580.54px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  border-collapse: collapse;
  color: #bdbdbd;
}

.miTabla tr {
  border: 1px solid #e0e0e0;
}

.miTabla td,
.miTabla th {
  padding: 8px;
  text-align: left;
  padding: 10px;
}

.miTabla td {
  width: 30%;
}

a > button {
  border: 1px solid gray;
  padding: 10px 30px;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  display: flex;
  color: #828282;
  margin-left: 350px;
}

.perfil > td > a {
  text-decoration: none;
  padding: 100px;
}

.perfil {
  border-radius: 10px;
}

.tittle > h1 {
  /* font-family: Noto Sans; */
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: -0.035em;
  text-align: left;
}

.menu-toggle {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid#E0E0E0;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
  text-decoration: none;
}

.dropdown-menu.active {
  display: block;
  transform: translateY(90px) translateX(20px);
}

.dropdown-menu > ul > li > a {
  text-decoration: none;
  color: #e0e0e0;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  /* margin: 10px; */
}

.dropdown-menu > ul > li:hover {
  background-color: #828282;
  padding: 5px;
  border-radius: 20px;
}

.dropdown-menu > ul {
  list-style: none;
}
